/* Includes the Reset Styles */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Includes Dynamic Functions */
/* Transition Function */
/* Variables */
/* Main index.php Page Styles */
/* Global Styles */
/* Nav Button */
.nav-btn, div#sidebar-wrapper > .sidebar-nav > li #property_form #close, div#sidebar-layers > .checkbox, div#sidebar-layers > #close-nav {
  margin: 0 5px 0 20px; }

/* Loading Page */
.vcenter {
  z-index: 10;
  position: absolute;
  top: 40%; }

.displayNone {
  display: none; }

/* Toggle Styles */
div#wrapper {
  width: 100%; }

/* Navigation */
div#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 0;
  width: 25%;
  height: 100%;
  margin-left: 0;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.7); }
  div#sidebar-wrapper > .sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none; }
    div#sidebar-wrapper > .sidebar-nav > li {
      text-indent: 20px;
      line-height: 40px; }
      div#sidebar-wrapper > .sidebar-nav > li > a {
        display: block;
        text-decoration: none;
        color: #999999; }
        div#sidebar-wrapper > .sidebar-nav > li > a:hover {
          text-decoration: none;
          color: #fff;
          background: rgba(255, 255, 255, 0.2); }
        div#sidebar-wrapper > .sidebar-nav > li > a:active {
          text-decoration: none; }
        div#sidebar-wrapper > .sidebar-nav > li > a:focus {
          text-decoration: none; }
    div#sidebar-wrapper > .sidebar-nav > .sidebar-brand {
      height: 65px;
      font-size: 18px;
      line-height: 60px; }
      div#sidebar-wrapper > .sidebar-nav > .sidebar-brand > h1 {
        color: #FFF;
        font-family: "Libre Baskerville", serif; }

/* Layer Navigation */
div#sidebar-layers {
  z-index: 1000;
  position: fixed;
  left: 0;
  width: 25%;
  height: 100%;
  margin-left: 0;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.7); }
  div#sidebar-layers > .checkbox {
    color: #fff;
    margin-top: 5%;
    display: block; }
  div#sidebar-layers > #close-nav {
    margin-top: 5%;
    position: relative; }

.sidebar-layers-label {
  display: inline-block;
  position: relative;
  padding: 5px;
  color: #fff;
  font-size: 0.8em;
  font-family: "Libre Baskerville", serif; }

.layerTreeTop {
  color: #fff;
  margin: 5px 0 5px 5px !important;
  display: inline-block; }

.layerTreeMid {
  color: #fff;
  margin: 5px 0 5px 10px !important;
  display: inline-block; }

.checkbox:nth-child(n+2) {
  margin-left: 15% !important; }

#midfa {
  margin-left: 15px !important; }

#infoHeader {
  text-align: center;
  color: #31708f;
  background-color: #d9edf7;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #bce8f1;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px; }

#featureInfo {
  max-width: 337px;
  min-height: 25px;
  text-align: center; }

.FEATUREPROP {
  padding: 5px;
  border: 1px solid #bce8f1; }

div#route-details {
  z-index: 2;
  position: fixed;
  left: 0;
  width: 25%;
  height: 85%;
  padding: 2%;
  margin-left: 0;
  overflow: auto;
  background: white; }

#details, #removeButton {
  margin-right: 2%; }

/* Input Form */
.form-control {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 8%; }

/* Page Content: Map */
div#page-content-wrapper {
  width: 100%;
  position: absolute; }
  @media (min-width: 768px) {
    div#page-content-wrapper {
      position: relative; } }
  div#page-content-wrapper > .container-fluid {
    padding: 0 !important; }
    div#page-content-wrapper > .container-fluid > #map {
      height: 100vh;
      width: 100%;
      margin: 0;
      padding: 0;
      z-index: 1; }
    div#page-content-wrapper > .container-fluid #toggleControl {
      top: 5px !important;
      right: 5px !important; }
    div#page-content-wrapper > .container-fluid #routetoggleControl {
      top: 50px !important;
      right: 5px !important; }
    div#page-content-wrapper > .container-fluid #info-box {
      background-color: white;
      border: 1px solid transparent;
      border-radius: 4px;
      bottom: 30px;
      height: 40px;
      min-width: 40px;
      padding: 10px;
      position: absolute;
      left: 50%;
      /* position the left edge of the element at the middle of the parent */
      transform: translate(-50%);
      z-index: 100;
      display: none; }
    div#page-content-wrapper > .container-fluid #route {
      border: 1px solid transparent;
      border-radius: 4px;
      bottom: 30px;
      min-height: 40px;
      width: 35%;
      padding: 10px;
      position: absolute;
      left: 50%;
      /* position the left edge of the element at the middle of the parent */
      transform: translate(-50%);
      z-index: 100;
      display: none;
      text-align: center; }
    div#page-content-wrapper > .container-fluid #floating-panel {
      position: absolute;
      bottom: 0;
      left: 5px;
      z-index: 5; }
    div#page-content-wrapper > .container-fluid #mode {
      width: 100% !important; }
    div#page-content-wrapper > .container-fluid .btn-default {
      margin-top: 2%; }

/* Marker Info */
.gm-style-iw {
  width: 350px !important; }

.panel-title {
  padding-bottom: 5px; }

/* Main login.php Page Styles */
#wrapper {
  width: 100%; }

#login_form {
  width: 40%;
  height: 60vh;
  margin: 0 auto;
  position: relative;
  -webkit-transform: translateY(30%);
  -ms-transform: translateY(30%);
  transform: translateY(30%); }

#header {
  text-align: center; }

#login_form {
  text-align: center; }

.login-label {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Libre Baskerville", serif;
  margin: 2% 0 2% 0; }

/* Includes wvga size screen 480 x 800 */
@media only screen and (max-width: 480px) {
  div#sidebar-wrapper {
    width: 50%; }

  h1 {
    font-size: 0.9em; }

  div#sidebar-layers {
    width: 35%; }
    div#sidebar-layers > .checkbox {
      margin: 20% 5px 0 10px; }
      div#sidebar-layers > .checkbox > label > img {
        width: 15px;
        height: 20px; }
      div#sidebar-layers > .checkbox > label .sidebar-layers-label {
        font-size: 0.9em; } }
/* Includes dvga size screen 640 x 960 */
@media only screen and (min-width: 481px) and (max-width: 640px) {
  div#sidebar-wrapper {
    width: 50%; }

  div#sidebar-layers {
    width: 35%; } }

/*# sourceMappingURL=main.css.map */
