/* Includes the Reset Styles */
@import '_reset';
/* Includes Dynamic Functions */
@import '_functions';

/* Toggle Styles */

div#wrapper {
  padding-left: 0;
  @include transition(all, 0.5s, ease);
  &.toggled{
    padding-left: 250px;
    > #sidebar-wrapper {
        width: 250px;
    }
    > #page-content-wrapper {
        position: relative;
        margin-right: -250px;
    }
  }
  @media(min-width:768px) {
    padding-left: 250px;
    &.toggled {
        padding-left: 0;
        > #sidebar-wrapper {
            width: 0;
        }
        > #page-content-wrapper {
            position: relative;
            margin-right: 0;
        }
    }
  }
}

/* Navigation */

div#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    @include transition(all, 0.5s, ease);
    @media(min-width:768px) {
      width: 250px;
    }
    > .sidebar-nav {
        position: absolute;
        top: 0;
        width: 250px;
        margin: 0;
        padding: 0;
        list-style: none;
        > li {
          text-indent: 20px;
          line-height: 40px;
          > a {
            display: block;
            text-decoration: none;
            color: #999999;
            &:hover {
              text-decoration: none;
              color: #fff;
              background: rgba(255,255,255,0.2);
            }
            &:active{
              text-decoration: none;
            }
            &:focus{
              text-decoration: none;
            }
          }
        }
        > .sidebar-brand {
            height: 65px;
            font-size: 18px;
            line-height: 60px;
            > a {
                color: #999999;
                &:hover {
                  color: #fff;
                  background: none;
              }
            }
        }
    }
}

/* Page Content: Map */

div#page-content-wrapper{
  width: 100%;
  position: absolute;
  @media(min-width:768px) {
    position: relative;
  }
  > .container-fluid{
    padding: 0 !important;
    > #map{
      height: 100vh;
      width: 100%;
      margin: 0;
      padding: 0;
      z-index: 1;
    }
  }
}
