/* Includes the Reset Styles */
@import '_reset';
/* Includes Dynamic Functions */
@import '_functions';

/* Variables */
$header_font: 'Signika', sans-serif;

/* Toggle Styles */

div#wrapper {
  width: 100%;
}

/* Navigation */

div#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0;
    width: 25%;
    height: 100%;
    margin-left: 0;
    overflow-y: auto;
    background: rgba(0,0,0,0.7);
    
    > .sidebar-nav {
        position: absolute;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        > li {
          text-indent: 20px;
          line-height: 40px;
          > a {
            display: block;
            text-decoration: none;
            color: #999999;
            &:hover {
              text-decoration: none;
              color: #fff;
              background: rgba(255,255,255,0.2);
            }
            &:active{
              text-decoration: none;
            }
            &:focus{
              text-decoration: none;
            }
          }
        }
        > .sidebar-brand {
            height: 65px;
            font-size: 18px;
            line-height: 60px;
            > h1{
                 color: #FFF;
                 font-family: $header_font;
            }
        }
    }
}

/* Input Form */

.form-control{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 8%;
}

/* Page Content: Map */

div#page-content-wrapper{
  width: 100%;
  position: absolute;
  @media(min-width:768px) {
    position: relative;
  }
  > .container-fluid{
    padding: 0 !important;
    > #map{
      height: 100vh;
      width: 100%;
      margin: 0;
      padding: 0;
      z-index: 1;
    }
    #toggleControl{
      top: 5px !important;
      right: 5px !important;
    }
  }
}

/* Form */


